#magenta {
  background: #B00B69;
  height: 40vh;
  width: 100vw;
}

#lavender {
  background: #A55EA7;
  height: 20vh;
  width: 100vw;
}

#blue {
  background: #1D1CC9;
  height: 40vh;
  width: 100vw;
}
