#magenta {
  background: #D70270;
  height: 40vh;
  width: 100vw;
}

#lavender {
  background: #734F96;
  height: 20vh;
  width: 100vw;
}

#blue {
  background: #0038A8;
  height: 40vh;
  width: 100vw;
}
